<div class="bkg">
    <div class="img-2"></div>
    <div class="img-1"></div>
</div>
<div class="container">
   <div class="content-menu">
    <div class="logo">
        <img src="../../../assets/Logo.svg" width="50" height="50" alt>
    </div>
    <div class="title">
        <h1>Bem vindo a <span>Pacto Soluções</span></h1>
    </div>
    <h2> Clique na Opção desejada:</h2>
    <div class="button-content">
        <a class="btn btn-lista" routerLink="/listagem">Acessar Listagem de Atletas</a>
        <a class="btn btn-cadastro" routerLink="/formulario">Cadastrar Atleta</a>
    </div>
   </div>
</div>